*{
  margin: 0; 
  padding:0; 
  box-sizing: border-box; 
  font-family: 'Poppins', sans-serif; 
}

.mainContainer{
  display: flex; 
  flex-direction: column; 
}
.profile, .work, .project{
  background-color:white; 
  padding: 15px 0; 
}
.education, .language, .contact{
  background-color: #dcdcdc; 
  padding: 15px 0; 
}

.navigation{
  background-color: #dcdcdc;
  margin: 0;
  padding: 30px 0;
}
.navigation span{
  width: 120px;
  float: right;   
}
.navigation span a
{
  text-decoration: none;
  color: #000000; 
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.navigation span a:hover{
  font-weight: bold; 
  color: blue;
}
.intro
{
  position: relative; 
  margin-left: 50px; 
}
.circle
{
  position: relative; 
  overflow: hidden; 
  width: 350px; 
  height: 350px; 
  float: left; 
  border-radius: 50%; 
  margin-top: 15px; 
  margin-bottom:1px; 
  margin-left: 50px; 
  shape-outside: circle(); 
}
.circle img{
  top: 0; 
  left:0; 
  width: 60%; 
  height: 60%; 
}
figure {
    display: inline-block;
    margin-top: 15px; /* adjust as needed */
}
img {
    //text-align: center;
    width: 100%;
    margin: auto;
    //display: block;
    height: 1px; 
}
.article
{
  display: inline;
  width: 50%; 
  position: relative; 
  padding-left: 5px; 
}
.article h2{
  text-align: center; 
}
.article p{
  font-size:15px; 
}
h2{
  color: #191970; 
  font-size: 25px; 
  margin-bottom: 10px; 
}

section p{
  color: black; 
  line-height: 40px;
}

//education
.headerTitle
{
  padding: 100px 0; 
}
.education{
  text-align: center; 
}
.univName, .educName, .degree, .date
{
  text-align:center; 
}
.univName{
  font-weight:bold;
}
.date
{
  font-size: 12px; 
  opacity: 0.75;
}
.degree
{ 
 font-family: Arial, sans-serif;
 color:mediumvioletred  ; 
 font-weight: bold;
 font-size:16px;
}
.lan
{
  text-align:center; 
}

.project
{
  text-align: center;
  margin: 30px;
}
.projectList{
  display: grid; 
  grid-template-columns:  1fr 1fr 1fr; 
  grid-gap: 30px; 
}
.projectList > div 
{
  height: 250px; 
  cursor: pointer;
  transition: all 0.5s ease-in;  
}
.projectList > div:hover{
  opacity: 0.7; 
  transform: scale(0.98); 
}
.projectList p
{
  background-color: #36b9bb;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;
  width: 68%;
  padding: 30px; 
  margin: 0 auto; 
  text-align: center; 
}
.img1 a, .img2 a, .img3 a, .img4 a, .img5 a, .img6 a, .img7 a
{
  text-decoration: none; 
}
.img1 {
    background: url('img/unix_shell.jpg'); 
    background-size: cover; 
}
.img2
{
  background: url('img/red-black-tree.png'); 
  background-size: cover; 
}
.img3
{
  background: url('img/semantic-segmentation.jpeg'); 
  background-size: cover; 
}
.img4
{
  background: url('img/http.png'); 
  background-size: cover; 
}
.img6
{
  background: url('img/taxi_route_planner.jpg'); 
  background-size: cover; 
}
.img7
{
  background: url('img/todolist.jpg'); 
  background-size: cover; 
}
.contact
{
  padding-left: 15px; 
  padding-bottom: 10px; 
}
.contact div
{
  display: block;
  color: #000;
  width: 50%;
/*   font-family: 'Oswald', sans-serif;
  font-size: 17px;
  font-weight: 100; 
  letter-spacing: 2px; */
}

.contact div a
{
  text-decoration: none; 
